.site-name {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    word-break: break-word;
}

.top-bottom {
    padding: 40px 0;
}

.search {
    padding: 30px 0;
}

.card-custom {
    transition: .3s ease-in-out all;
    .content {
        display: flex;
    }
    .top {
        display: flex;
        align-items: center;
        h4 {
            margin: 0;
            font-size: 2rem;
            font-weight: 300;
        }
    }
    .right {
        flex: 1;
        position: relative;
    }

    .card-image {
        position: absolute;
        width: 59px;
        right: 0;
        top: 12px;
    }

    .wind-icon {
        animation-name: rotation;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: absolute;
        bottom: 32px;
        font-size: 100px;
        left: 50%;
        margin-left: -48px;
        z-index: 2;
        color: #aaa;
    }

    .wind-body {
        color: #777;
        font-size: 100px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -20px;
    }
    .card-footer {
        .table td, .table th {
            border: 0;
            vertical-align: middle;
            padding: 0;
        }
    }
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cards-container > div[class*="col-"] {
    display: flex;
    margin-bottom: 20px;
    flex: 0 0 47.666667%;
    max-width: 52.666667%;
}

.list-view{
    display: flex !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    flex-direction: row;
    justify-content: space-between;
    .card-footer {
        flex: 0 0 36%;
        border-left: 1px solid #eee;
        border-top: 0;
    }
    .content {
        flex: 0 0 55%;
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}
